/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fdf5e8;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-31 {
  flex: 0 1 31%;
}

img {
  width: 100%;
  object-fit: cover;
}

.font-0 {
  font-size: 0;
}
.flex-wrap {
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}

.width-70 {
  width: 70%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 10px;
}

article {
  margin-bottom: 1rem;
}
header {
  background-color: #377e80;
  height: 100px;
  text-align: center;
  margin-bottom: 40px;
}
h2 {
  font-size: 27px;
  padding: 20px;
}
.btn {
  background-color: #397f81;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  width: fit-content;
  margin: 12px auto;
}
h3 {
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding: 10px;
}
p {
  font-size: 14px;
  color: grey;
  padding: 10px;
}
a {
  text-decoration: none;
}
